* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1840px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #93CADF;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header nav {
  max-width: 560px;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  gap: 30px;
}

.logo {
  color: white;
}

.lang {
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lang:hover {
  background-color: #FFC711;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  font-size: 1.0625rem;
  line-height: 1;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  background: #FFC711;
  height: 2px;
  border-radius: 8px;
  width: 100%;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__item-link:hover {
  color: #FFC711;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.section__hero {
  padding-top: 596px;
  padding-bottom: 120px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__item.left__item {
  max-width: 680px;
  width: 100%;
}

.hero__item.right__item {
  max-width: 490px;
  width: 100%;
  text-align: right;
}

.hero__suptitle {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 40px;
}

.hero__title {
  font-size: 9.375rem;
  line-height: 1;
}

.hero__text {
  font-size: 2.625rem;
  line-height: 1.0952380952;
  margin-bottom: 40px;
}

.hero__text span {
  color: #FFC711;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 240px;
  width: 100%;
  border-radius: 24px;
  background-color: #FFC711;
  font-size: 1rem;
  line-height: 1;
  color: #4D4D4D;
  padding: 18px 0 19px;
  margin-left: auto;
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.hero__btn:hover {
  -webkit-transform: scale(1.2) translateX(-20px);
      -ms-transform: scale(1.2) translateX(-20px);
          transform: scale(1.2) translateX(-20px);
}

.section__projects {
  background-color: #93CADF;
  padding-top: 57px;
  padding-bottom: 40px;
}

.projects {
  padding-left: 70px;
}

.projects__title {
  margin-left: 100px;
  font-size: 13.75rem;
  line-height: 1.1;
  position: relative;
  z-index: 10;
  -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
          transform: translateY(70px);
}

.projects__slider {
  margin-bottom: 40px;
}

.slider {
  width: 100%;
  margin-bottom: 20px;
}

.slider__slide {
  padding: 498px 60px 60px;
  background-color: #93CADF;
}

.slider__img {
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider__text {
  font-size: 3rem;
  line-height: 1.3333333333;
}

.slider__text span {
  display: block;
  font-size: 0.6875rem;
  line-height: 2.1818181818;
}

.slider__link {
  height: 70px;
  width: 70px;
  background-color: #FFC711;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.slider__btn-prev,
.slider__btn-next {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: #fff;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__btn-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section__about {
  padding-top: 40px;
  position: relative;
}

.about {
  position: relative;
  z-index: 10;
}

.about__text {
  max-width: 925px;
  width: 100%;
  margin: 0 auto 150px;
  color: #000;
  font-size: 2.625rem;
  line-height: 0.9523809524;
}

.about__text span {
  color: #fff;
}

.about__title {
  font-size: 8.75rem;
  line-height: 1.0285714286;
  text-align: center;
  z-index: 10;
  position: relative;
}

.about__figure {
  position: absolute;
  width: 100%;
  bottom: -500px;
}

.about__figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

footer {
  margin-top: -150px;
  min-height: 1100px;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }

  .hero {
    gap: 20px;
  }

  .hero__item.left__item {
    max-width: 540px;
  }

  .hero__item.right__item {
    max-width: 450px;
  }

  .hero__suptitle {
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1;
  }

  .hero__title {
    font-size: 4.5rem;
    line-height: 1;
  }

  .hero__text {
    font-size: 2rem;
    line-height: 1;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .lang {
    margin-left: auto;
  }

  .section__hero {
    padding-top: 270px;
    padding-bottom: 100px;
  }

  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero {
    gap: 40px;
  }

  .hero__item.left__item {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .burger.active:before {
    background: #fefefe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #fefefe;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #131418;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #131418;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .logo img {
    max-width: 150px;
  }

  .section__hero {
    padding-top: 200px;
  }

  .hero {
    text-align: center;
    gap: 20px;
  }

  .hero__suptitle {
    max-width: 280px;
    margin: 0 auto 10px;
  }

  .hero__title {
    font-size: 3.75rem;
    line-height: 1;
  }

  .hero__text {
    text-align: center;
  }

  .hero__btn {
    margin: 0 auto;
  }
}